{% extends 'BakeryApp/adminbase.html' %}
{% load static %}


{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>Add Category Page</title>
{% endblock title %}

{% block body %}

<div class="container w-75 bg-light rounded-3 p-5 mt-3 shadow">
    <div class="container text-center bg-secondary rounded-3 mt-3">
        <h1 class="display-4 p-2">Add Category</h1>
    </div>

    <form action="{% url 'addcategory' %}" method="post">
        {% csrf_token %}

        {% for fm in forms %}
        <div class="mb-2 w-75">
            <div class="mb-2">
                {{fm.label_tag}}
                
            </div>
            <div class="mb-2">
                {{fm}}
                <span style="color:red ;">{{fm.errors}}</span>
            </div>
        </div>
        {% endfor %}
        <div class="mb-2 text-center">
            <input type="submit" value="Add Category" class="btn btn-outline-success">
        </div>

    </form>

</div>




{% endblock body %}
