{% extends 'BakeryApp/adminbase.html' %}
{% load static %}


{% block css %}
{% endblock css %}

{% block js %}

{% endblock js %}

{% block title %}
<title>All Products Page</title>
{% endblock title %}

{% block body %}

<div class="container p-3 mt-3 text-center">
    <h2>All Products</h2>
</div>
<div class="card">
    <div class="card-body">
        

        <div class="container-fluid">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Details</th>
                    <th scope="col">image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for i in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.img_title}}</td>
                    <td>{{i.details}}</td>
                    <td><img src="{{i.image.url}}" height="50px" width="70px" alt=""></td>
                    <td>{{i.price}}.Rs</td>
                    <td>{{i.cat}}</td>
                    <td>{{i.Qua}}</td>
                    <td>
                        <a href="{% url 'editproduct' i.id %}" class="text-light btn btn-success">Edit</a>
                        <a href="{% url 'deleteproduct' i.id %}" class="text-dark btn btn-danger" onclick="return confirm('Are you sure')">Delete</a>
                    </td>
               
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock body %}