{% extends 'BakeryApp/navbar.html' %}
{% load static custom_tags %}


{% block css %}
{% endblock css %}

{% block js %}

{% endblock js %}

{% block title %}
<title>Cart Page</title>
{% endblock title %}

{% block body %}


<div class="container p-3 mt-3 text-center">
    <h2>Cart</h2>
</div>
<div class="card">
    <div class="card-body">
        

        <div class="container-fluid">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>

                <tbody>
                    {% for i, j in product.items %}
                    <tr>
                        <td>
                            <img class="img-thumbnail" src="{{i|productimage}}" alt="product" style="width:100px;height:100px"></a>
                        </td>
                        <td><a href="/product-detail/{{i}}/">{{i|productname}}</a></td>
                        <td>{{i|productprice}}</td>
                        <td style="width:15%">
                            <div class="input-group">
                                <a href="/incredecre/{{i}}/?action=decre" class="btn btn-warning pull-left" id="decrebtn-{{forloop.counter}}">-</a>
                                <input type="text" class="cart-plus-minus-box" type="text" style="width:30%;border:1px solid grey" id="shop_qty-{{forloop.counter}}" name="qtybutton" value="{{j}}" readonly/>
                                <a href="/incredecre/{{i}}/?action=incre" class="btn btn-warning pull-right">+</a>
                            </div>
                        </td>
                        <td id="totalprice-{{forloop.counter}}">{% producttotalprice i j %}</td>
                        <td>
                            <a href="/deletecart/{{i}}/" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"></td>
                        <td colspan="2" id="total-price"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
  
</div>


<script>
    var prolenth = '{{lengthpro}}';
    var mytotal = 0;
    for(var i=1;i<=prolenth*1;i++){
        totalprice = parseFloat(document.getElementById('totalprice-'+i).innerHTML);
        var mytotal = parseFloat(mytotal) + (totalprice);
    }
    document.getElementById('total-price').innerHTML  = mytotal;
</script>
{% endblock body %}