
{% load static %}
<div class="footer mt-3 p-3" >
    <div class="row" style="background-color:rgb(245, 239, 239);">

        <div class="col-sm-3 p-3 ">
            <div class="p-2">
                <div class="text-center">
                    <div class="p-3"> 
                        <img src="{% static 'BakeryApp/images/Aeroplanelogo.jpg' %}" height="50px" alt="No">
                    </div>
                    <div class="text-center">
                        <h5 class="text-dark">Worldwide Delivery
                        </h5>
                        <h6 class="text-dark">We deliver gifts to over 70 countries</h6>
                    </div>
                    
                </div>
                
            </div>
    
        </div>
        <div class="col-sm-3 p-3">
            <div class="p-2">
                <div class="text-center">
                    <div class="p-3"> 
                        <img src="{% static 'BakeryApp/images/securitylogo.png' %}" height="50px" alt="No">
                    </div>
                    <div class="text-center">
                        <h5 class="text-dark">100% Safe & Secure Payments
                            </h5>
                        <h6 class="text-dark">Pay using secure payment methods</h6>
                    </div>
                        
                </div>
                
            </div>
            
        </div>
        <div class="col-sm-3 p-3">
            <div class="p-2">
                <div class="text-center">
                    <div class="p-3"> 
                        <img src="{% static 'BakeryApp/images/help.jpg' %}" height="50px" alt="No">
                    </div>
                    <div class="text-center">
                        <h5 class="text-dark">Dedicated Help Center</h5>
                        <h6 class="text-dark">Call us +91 9212422000 | 8:00AM-10:30PM</h6>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-3 p-3">
            <div class="p-2">
                <div class="text-center">
                    <div class="p-3"> 
                        <img src="{% static 'BakeryApp/images/mobile.jpg' %}" height="50px" alt="No">
                    </div>
                    <div class="text-center">
                        <h5 class="text-dark">Shop on the go</h5>
                    </div>
                </div>
               
            </div>
            
        </div>

        <!-- ------------------------------------------------------------------------------------------------- -->

        <div class="footer mt-3 p-3" >
            <div class="row" style="background-color:rgb(245, 239, 239);">
    
                <div class="text-center">
                    <font style="color: darkgray;">Copyright 2023. RB</font>
                </div>
            </div>
        </div>
    </div>



</div>



        


